.container {
    display: flex;
    justify-content: center;
}
.loginCard {
    width: 60%;
    margin: 40px;
}

.mat-fields {
    width: 100%;
}

.card-header {
    display: flex;
    justify-content: center;
}
.loginForm {
    display: flex;
    flex-direction: column;
}

.signupRedirect {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.signinButton {
    width: 100px;
}