<div class="container">
    <mat-card>
        <mat-card-header>
            <mat-card-title>Log in</mat-card-title>
        </mat-card-header>
        <hr>
        <form>
            <mat-form-field>
                <input 
                matInput
                placeholder="Username"
                >
            </mat-form-field>
            <mat-form-field>
                <input 
                matInput
                placeholder="Password"
                >
            </mat-form-field>
            <button mat-raised-button color="accent">Log In</button>
        </form>
    </mat-card>
</div>