<div class="container">
<mat-card>
    <form (submit)="onAddBook(bookForm)" #bookForm="ngForm"> 
        <mat-form-field>
            <input matInput type="text" 
            ngModel
            name="title"
            required
            #title="ngModel"
            placeholder="Title"
            >
            <mat-error *ngIf="title.invalid">Enter title, please</mat-error>
        </mat-form-field>
        <mat-form-field>
            <input matInput type="text" 
            ngModel
            name="author"
            required
            #author="ngModel"
            placeholder="Author"
            >
            <mat-error *ngIf="author.invalid">Enter author, please</mat-error>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Book genre</mat-label> 
            <mat-select [(ngModel)]="selectedValue" #genre="ngModel" name="genre" required>
                <mat-option *ngFor="let genre of genres" [value]="genre.name" >
                    {{ genre.name }}
                </mat-option>
            </mat-select>
            <mat-error *ngIf="genre.invalid">You must choose a book genre</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea matInput 
            rows="5"
            ngModel
            name="description"
            required
            #description="ngModel"
            placeholder="Description"
            >
            </textarea>
            <mat-error *ngIf="description.invalid">Enter description, please</mat-error>
        </mat-form-field>
        <button mat-raised-button 
        color="accent"
        type="submit" 
        >Save</button>
    </form>
</mat-card>
</div>