.container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    width: 100%;
}

.formCard {
    width: 500px;
}

.cardFooter {
    padding: 15px;
    display:flex;
    justify-content: end;
}

.formField {
    width: 100%;
}